@use "../settings/colors" as *;
@use "../settings/common" as *;
@use "../settings/breakpoints" as *;
@use "../settings/typography" as *;

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size($fs-default, 21);

  background: $color-mirage;
  color: $white;
  font-family: "Fira Sans", sans-serif;
}

main {
  padding: 2rem $content-margin 1rem;
}

