/* ===================================================
DIMENSIONS
=================================================== */

/* ===================================================
SPACINGS
=================================================== */
$padding: 15px;
$padding-large: $padding * 2;

/* ===================================================
FONTS
=================================================== */
$font-fira-sans-name: 'FiraSans';
$font-sans-serif: "Helvetica Neue", helvetica, arial, sans-serif;
$font-serif: georgia, serif;
$font-fira-sans: $font-fira-sans-name, sans-serif;
